@using MuNeMo.Scripting

<style>
    #script-label {
        font-weight: bold;
        color: #444;
        margin-bottom: 10px;
        display: block;
    }

    .parameter-container {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .parameter-label {
        display: block;
        font-size: 14px;
        color: #333;
    }

    .parameter-input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>


<label id="script-label">@ScriptCall.Name</label>
@foreach (var parameter in ScriptCall.Parameters)
{
    <div class="parameter-container">
        <label class="parameter-label">
            <b>@parameter.Key</b> @parameter.Value.Description
            <InputText class="parameter-input" @bind-Value="parameter.Value.Value" />
        </label>
    </div>
}

@code {
    
    [Parameter] 
    public required ShellScriptCall ScriptCall { get; set; }
}