@using MuNeMo.Scripting
@rendermode InteractiveServer

<style>
    .my-editor-class {
        height: 500px;
        width: 90%
    }
</style>

<div>
    <StandaloneCodeEditor @ref="_editor" 
                          OnDidChangeModelContent="HandleInput"
                          CssClass="my-editor-class" 
                          ConstructionOptions="EditorConstructionOptions" />
</div>

@code
{
    private StandaloneCodeEditor _editor = null!;
    
    [Parameter] 
    public required ShellScriptCode Code { get; set; }
    
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "shell",
            Value = Code.Content,
            Theme = "vs-dark",
            Minimap = new EditorMinimapOptions
            {
                Enabled = false,
            }
        };
    }
    
    private async Task HandleInput(ModelContentChangedEvent e)
    {
        Code.Content = await _editor.GetValue();
    }
}
