@rendermode InteractiveServer

<style>
    .yaml-configuration-editor {
        height: 500px;
    }
</style>

<div>
    <StandaloneCodeEditor @ref="_editor"
                          CssClass="yaml-configuration-editor"
                          ConstructionOptions="EditorConstructionOptions" />
</div>

@code
{
    private StandaloneCodeEditor _editor = null!;
    
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "yaml",
            Value = "",
            Theme = "vs-dark",
            Minimap = new EditorMinimapOptions
            {
                Enabled = false,
            }
        };
    }

    public async Task<string> GetYamlConfigurationAsync()
    {
        return await _editor.GetValue();
    }
}
