@page "/BaseConfiguration"
@using Microsoft.EntityFrameworkCore
@using MuNeMo.DataAccess
@rendermode InteractiveServer
@inject MultiModifyContext context

<PageTitle>Base Configuration</PageTitle>

<form method="post" @formname="main" @onsubmit="Submit">
    <div>
        <label>
            Author Email:
            <InputText @bind-Value="Configuration.AuthorEmail" />
        </label>
    </div>
    <div>
        <label>
            Author Name:
            <InputText @bind-Value="Configuration.AuthorName" />
        </label>
    </div>
    <div>
        <label>
            Token:
            <InputText @bind-Value="Configuration.Token" />
        </label>
    </div>
    <div>
        <label>
            Platform:
            <InputText @bind-Value="Configuration.Platform" />
        </label>
    </div>
    <button type="submit">Save</button>
    <AntiforgeryToken/>
</form>

@code
{
    [SupplyParameterFromForm] 
    private Configuration Configuration { get; set; }

    [SupplyParameterFromForm] public required string AuthorName { get; set; }
    [SupplyParameterFromForm] public required string Token { get; set; }
    [SupplyParameterFromForm] public required string Platform { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Configuration = await context.Configurations.FirstOrDefaultAsync() ??
                        new Configuration
                        {
                            AuthorEmail = string.Empty,
                            AuthorName = string.Empty,
                            Token = string.Empty,
                            Platform = "gitlab"
                        };
    }

    private async Task Submit()
    {
        if (await context.Configurations.CountAsync() == 0)
        {
            context.Configurations.Add(Configuration);
        }
        
        await context.SaveChangesAsync();
    }
}