@page "/RunConfiguration"
@rendermode InteractiveServer
@using MuNeMo.Components.Elements

<style>
    #split-configuration-container { 
        display: flex;
        height:  500px;
    }

    #yaml-configuration-editor, #yaml-documentation-container {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
    }

    #yaml-configuration-editor { 
        border-right: 1px solid #ccc;
    }

    #yaml-documentation-container { 
        overflow-y: auto;
    }
</style>

<PageTitle>Run multi-gitter</PageTitle>

<h2>Run configuration:</h2>

<div id="split-configuration-container">
    <div id="yaml-configuration-editor">
        <YamlCodeEditor></YamlCodeEditor>
    </div>
    <div id="yaml-documentation-container">
        <YamlConfigurationDocumentation></YamlConfigurationDocumentation>
    </div>
</div>

<hr />

<div>
    <h2>Script generation:</h2>
</div>

<div>
    <ScriptGeneration @ref="ScriptGeneration"/>
</div>

<div>
    <button @onclick="Test">Run!</button>
</div>


@code {
    private ScriptGeneration ScriptGeneration;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ScriptGeneration = new ScriptGeneration();
    }

    private void Test()
    {
        var t = ScriptGeneration.GetExecutableScript();
        Console.WriteLine(t);
    }

}
