@page "/RunConfiguration"
@rendermode InteractiveServer
@using MuNeMo.Components.Elements

<style>
    #split-configuration-container { 
        display: flex;
        height:  500px;
    }

    #yaml-configuration-editor, #yaml-documentation-container {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
    }

    #yaml-configuration-editor { 
        border-right: 1px solid #ccc;
    }

    #yaml-documentation-container { 
        overflow-y: auto;
    }

    #run-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer; 
    } 
    
    #run-button:hover {
        background-color: darkgreen;
    }
</style>

<PageTitle>Run multi-gitter</PageTitle>

<h2>Run configuration:</h2>

<div id="split-configuration-container">
    <div id="yaml-configuration-editor">
        <YamlCodeEditor @ref="YamlCodeEditor"></YamlCodeEditor>
    </div>
    <div id="yaml-documentation-container">
        <YamlConfigurationDocumentation></YamlConfigurationDocumentation>
    </div>
</div>

<hr />

<div>
    <h2>Script generation:</h2>
</div>

<div>
    <ScriptGeneration @ref="ScriptGeneration"/>
</div>

<div>
    <button id="run-button" @onclick="Run">Run!</button>
</div>


@code {
    private ScriptGeneration ScriptGeneration;
    private YamlCodeEditor YamlCodeEditor;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ScriptGeneration = new ScriptGeneration();
        YamlCodeEditor = new YamlCodeEditor();
    }

    private async Task Run()
    {
        var script = ScriptGeneration.GetExecutableScript();
        var configuration = await YamlCodeEditor.GetYamlConfigurationAsync();

        File.WriteAllText("script.sh", script);
        File.WriteAllText("configuration.yaml", configuration); 
        
        System.Diagnostics.Process.Start("chmod", ["+x", "./script.sh"]);
        System.Diagnostics.Process.Start("multi-gitter", ["run", "./script.sh", "--config", "configuration.yaml"]);
    }

}
